.fundo-dino {
  /* background-image: url("../img/fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px; */
  position: relative;

  display: flex;
  justify-content: center;
}
header {
  margin-bottom: 300px;
}
.logofundo {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 500px;

}

.logo {
  margin-top: 8%;
}

header img {
  width: 400px;
  height: 150px;
}

@media screen and (max-width: 500px) {
  header img {
    width: 150px;
    height: 50px;
    margin-top: 8%;
  }
  .fundo-dino {
    height: 250px;
  }
  .fundo-dino {
    background-image: url("../img/fundo.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-bottom: 0;

    display: flex;
    justify-content: center;
  }
  .logofundo {
    display: none;
  }
  header {
    margin-bottom: 0;
  }
}