.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContent div {
  width: 100%;
  max-width: 800px;
}

.ajuda {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContent h1 {
  font-family: "Bungee", cursive;
  text-align: center;
  font-size: 30px;
  color: var(--color-white);
  width: 100%;
  margin-bottom: 30px;
  margin-top: 20px;
}

.mainContent p {
  font-family: "Nunito", sans-serif;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  width: 100%;
  color: var(--color-white);
}

@media screen and (max-width: 600px) {
  .mainContent p {
    font-size: 16px;
    width: 80%;
  }
}

.separador {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.img {
  width: 25px;
  margin-left: 1%;
  margin-right: 1%;
  cursor: pointer;
}

.big {
  width: 70px;
}

.line {
  display: inline-block;
  background-color: #fff;
  width: 45%;
  height: 3px;
  border-radius: 10px;
  border: 0;
}

/* video */

.dino-caixa {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: relative;
}

.dino-caixa video {
  width: 95%;
  max-width: 800px;
}

div .play {
  position: absolute;
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: rgba(240, 240, 240, 0.5);
  width: 20px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.button img {
  width: 250px;
  position: absolute;
}

.button h1 {
  z-index: 1;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

#jogo-tem {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#jogo-tem p {
  color: var(--color-purple);
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
}
#jogo-tem h1 {
  font-size: 30px;
  letter-spacing: 5px;
  margin-top: 35px;
  color: var(--color-purple-lg);
}

#requisitos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#requisitos h1 {
  color: var(--color-purple-lg);
  margin-top: 25px;
}
#requisitos dl {
  font-family: "Nunito", sans-serif;
  color: var(--color-purple);
  line-height: 20px;
}

#requisitos dl dt {
  font-weight: bold;
}
#requisitos dl dt span {
  font-weight: normal;
}

.footer-dininho {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 30px;
}
.footer-dininho p {
  color: var(--color-black);
  font-size: 15px;
  font-weight: bold;
}

.footer-dininho div {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
